/* Este es un ejercicio sencillo de Flex, pero es algo que tendrás que hacer varias veces. por ello vamos a atacarlo cuanto antes.
Todo lo que necesitas hacer es centrar el div rojo dentro del contenedor padre azul. */

.container {
    background: dodgerblue;
    border: 4px solid midnightblue;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    background: palevioletred;
    font-weight: bold;
    text-align: center;
    border: 6px solid maroon;
    width: 80px;
    height: 80px;
  }