/* - Aplicar un color “aquamarine” de fondo al título.
- El contenedor de los párrafos tiene un color de fondo “blue”.
- Aplicar la siguiente imagen como fondo de todo el documento: "https://www.transparenttextures.com/patterns/always-grey.png"
- El contenedor de los párrafos tiene como fondo la siguiente imagen: "https://www.transparenttextures.com/patterns/brick-wall.png"
- La imagen del contenedor tiene que tener un tamaño del 50% respecto a su tamaño original.
- Asignarle la propiedad correspondiente al fondo del documento completo para que no se desplace al hacer scroll. */

@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;700&display=swap");

* {
  font-family: "Anek Telugu", sans-serif;
}

body {
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
}

h1 {
    background-color: aquamarine;
}

.content{
  background-color: blue;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}
